{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      experimentalObjectRestSpread: true
    }
  },
  "rules" : {
    "no-case-declarations": 0
  }
}